@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    color: $cinza_escuro;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

    &:not(html, document, header, body, meta, title, link, script, style, .glider-track, .adopt-card, .adopt-card *, .adopt-panel, .adopt-panel *) {
        display: flex;
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1,
span {
    line-height: 1.5em;
}

h1 {
    font-weight: 900;
}

nav#fix_header {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 1em 2em;
    transition: background .25s;
    z-index: 1000;

    .logo_separator {
        background: $brown;
        width: .5px;
        margin: auto 5px;
        height: 50%;
        display: none;
    }

    &.scrolled {
        background: $brown;
        #link_home {
            .logo_color {
                display: none;
            }
            .logo_white {
                display: block;
            }
            .logo_separator {
                background-color: white;
                display: block;
            }
        }
        #links {
            a:not(.highlight) {
                color: white;
            }
        }
    }

    #link_home {
        display: flex;
        flex-direction: row;
        .logo_numem {
            height: 50px;
            margin: auto;
        }
        
        .logo_white {
            display: none;
        }
    
        .logo_curso {
            height: 30px;
            margin: auto;
        }

        @media screen and (max-width: 650px) {
            .logo_numem {
                height: 30px;
            }
            .logo_curso {
                height: 20px;
            }
        }
    }

    #links {
        flex-direction: row;
        justify-content: space-between;
        place-items: center;

        a {
            text-decoration: none;
            padding: 1em 2em;
            color: $cinza_claro;
            border-radius: .5em;
            text-transform: uppercase;
            
            @media screen and (max-width: 500px) {
                font-size: 8pt;
            }

            &:not(.highlight) {
                color: $brown;
            }

            &.highlight {
                background: $green;

                @media screen and (max-width: 600px) {
                    &:not(.mobile) {
                        display: none;
                    }
                }

                @media screen and (min-width: 600px) {
                    &.mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

section {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    place-items: center;
}

#rodape {
    flex-direction: row;
    height: max-content;
    min-height: max-content;
    padding: 4em 0;
    background: $cinza_escuro;
    color: $cinza_claro;
    align-items: flex-start;
    justify-content: space-around;

    @media screen and (max-width: 700px) {
        flex-direction: column;
        justify-content: flex-start;
        padding: 2em;
    }

    .col {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1em;

        h1 {
            margin: 0;
        }

        a {
            color: $cinza_claro;
            margin: .5em 0;
        }

        &#redes {
            flex-direction: row;
            align-items: center;

            a {
                padding: .5em;
                margin: .5em;
            }
        }
    }
}