@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,800;1,400;1,800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  color: #3a3a3a;
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
*:not(html, document, header, body, meta, title, link, script, style, .glider-track) {
  display: flex;
  flex-direction: column;
}

nav#fix_header {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 1em 2em 2em;
  transition: background 1s;
  z-index: 1000;
}
nav#fix_header.scrolled {
  background: linear-gradient(180deg, #04098b 0%, #04098b 80%, #0080 100%);
}
nav#fix_header #links {
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}
nav#fix_header #links a {
  text-decoration: none;
  padding: 1em 2em;
  color: #f5f5f5;
  border-radius: 0.5em;
  text-transform: uppercase;
}
nav#fix_header #links a.highlight {
  background: #f26524;
}
@media screen and (max-width: 600px) {
  nav#fix_header #links a.highlight:not(.mobile) {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  nav#fix_header #links a.highlight.mobile {
    display: none;
  }
}
nav#fix_header #logo {
  height: 50px;
  margin: auto;
}

section {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  place-items: center;
}

.bkg-orange {
  background: #f26524 !important;
}

.bkg-blue {
  background: #04098b !important;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1, span {
  line-height: 1.5em;
}

h1 {
  font-weight: 900;
}

#home {
  position: relative;
  font-size: 20pt;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1000px) {
  #home {
    font-size: 16pt;
  }
}
@media screen and (max-width: 700px) {
  #home {
    justify-content: flex-end;
  }
}
#home #bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 50vh);
  z-index: -1;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(255, 255, 255, 0) 50%) 20vw 50vh/500px 500px no-repeat, radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(255, 255, 255, 0) 50%) 60vw 0vh/800px 800px no-repeat, #04098b;
}
#home #text {
  color: #f5f5f5;
  flex-direction: column;
  padding: 0;
  margin: 0 1em 0 2em;
  width: fit-content;
  margin-bottom: 1em;
  width: 50vw;
  max-width: 500px;
}
@media screen and (min-width: 1000px) {
  #home #text {
    max-width: 800px;
    margin-left: 3em;
  }
}
@media screen and (max-width: 700px) {
  #home #text {
    width: 80vw;
    margin-left: 1em;
  }
}
#home #text h1 {
  margin: 0 0 0.2em 0;
}
#home #text span {
  margin: 1em 0 2em;
}
#home #text a {
  padding: 1em 2em;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.8em;
  width: max-content;
  border-radius: 0.5em;
}
#home #smiling {
  position: absolute;
  bottom: 0;
  min-height: 100%;
  z-index: -1;
  filter: opacity(0.2);
  width: 30vw;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 60vw;
}
@media screen and (max-width: 700px) {
  #home #smiling {
    left: 10vw;
    width: 80vw;
  }
}
#home #smiling img {
  height: 100vh;
  width: auto;
}

#como {
  position: relative;
}
#como #content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-align: center;
  font-size: 16pt;
}
#como #content > h1 {
  margin: 2em 2em 1em;
}
#como #content > span {
  margin: 0 0 2em;
}
#como #content #cards {
  flex-direction: row;
  width: 1300px;
  max-width: 100vw;
  align-items: center;
  padding: 0 2em;
}
#como #content #cards .botao {
  flex-grow: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #f26524;
}
#como #content #cards .botao.disabled {
  color: #f5f5f5;
  cursor: default;
}
#como #content #cards #itens {
  flex-grow: 1;
  text-align: left;
}
#como #content #cards #itens .card {
  flex-direction: column;
  background: #f26524;
  border-radius: 1em;
  margin: 1em;
  padding: 2em;
}
#como #content #cards #itens .card h1 {
  margin: 0.5em 0 0;
}
#como #content #cards #itens .card span {
  margin: 1em 0 2em;
}
#como #content #cards #itens .card img {
  width: 50px;
  fill: #f5f5f5;
}
#como #content #button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#como #content #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
}

#porque {
  background-color: #f5f5f5;
  flex-direction: column;
  font-size: 16pt;
}
#porque > h1 {
  color: #f26524;
  font-size: 2em;
  text-align: center;
  margin: 1em;
}
@media screen and (max-width: 600px) {
  #porque > h1 {
    font-size: 1.5em;
  }
}
#porque #cards {
  flex-direction: row;
  max-width: 100vw;
  align-items: center;
  padding: 0 2em;
}
#porque #cards .botao {
  flex-grow: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #f26524;
}
#porque #cards .botao.disabled {
  color: #f5f5f5;
  cursor: default;
}
#porque #cards #itens {
  flex-grow: 1;
  text-align: left;
  align-items: flex-start;
  margin: 0 1em;
}
#porque #cards #itens .card {
  flex-direction: column;
  background: #04098b;
  border-radius: 0.5em;
  margin: 0.5em;
  max-width: 90vw;
  overflow: hidden;
  color: #f5f5f5;
}
#porque #cards #itens .card h1 {
  margin: 0.5em 1em;
  font-weight: 500;
  font-size: 1.25em;
}
@media screen and (max-width: 500px) {
  #porque #cards #itens .card h1 {
    font-size: 1em;
  }
}
#porque #cards #itens .card img.icon {
  width: 30px;
  margin: 0 30px 30px;
  align-self: flex-end;
}
#porque #cards #itens .card img:not(.icon) {
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0px 0px 10px 5px #0005;
}
#porque #button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#porque #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
  margin-bottom: 2em;
}

#paraquem {
  background-color: transparent;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 2em;
  row-gap: 3em;
  font-size: 16pt;
  padding: 0 2em;
  align-content: center;
}
#paraquem h1 {
  color: #f26524;
  font-size: 2em;
  margin: 0 0 0.5em;
}
@media screen and (max-width: 700px) {
  #paraquem {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
#paraquem #img {
  grid-row: 1/2;
  grid-column: 1/2;
}
#paraquem #img img {
  width: 500px;
  max-width: 40vw;
}
@media screen and (max-width: 700px) {
  #paraquem #img img {
    max-width: 90vw;
  }
}
@media screen and (max-width: 700px) {
  #paraquem #img {
    margin-top: 2em;
  }
}
#paraquem #text {
  grid-row: 1/2;
  grid-column: 2/3;
  flex-direction: column;
  max-width: 500px;
}
@media screen and (max-width: 700px) {
  #paraquem #text {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
#paraquem #button {
  grid-row: 2/3;
  grid-column: 1/3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  #paraquem #button {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
#paraquem #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
}

#conheca {
  flex-direction: column;
  padding: 2em;
}
#conheca h1 {
  color: #f26524;
  font-size: 2em;
  text-align: center;
}
#conheca iframe {
  width: 80vw;
  height: 60vh;
}

#relatos #pattern_separator {
  background: url(https://www.transparenttextures.com/patterns/crissxcross.png);
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 700px) {
  #relatos #pattern_separator {
    height: 100px;
  }
}
#relatos #list {
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  padding: 0 2em;
}
#relatos #list .botao {
  flex-grow: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #f26524;
}
#relatos #list .botao.disabled {
  color: #f5f5f5;
  cursor: default;
}
#relatos #list #itens {
  flex-grow: 1;
  flex-direction: row;
}
#relatos #list #itens .relato {
  flex-direction: column;
  border-radius: 0.5em;
  background: #f5f5f5;
  padding: 1.5em;
  margin: 1em;
  color: #3a3a3a;
  flex-shrink: 0;
}
#relatos #list #itens .relato #img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1.5em;
  flex-direction: row;
  justify-content: center;
}
#relatos #list #itens .relato #img img {
  height: 100%;
}

#comecar {
  background: url(https://www.transparenttextures.com/patterns/crissxcross.png), #f26524;
  flex-direction: column;
}
#comecar > h1 {
  color: #f5f5f5;
  font-size: 2em;
  margin: 2em 0;
  flex-direction: row;
}
#comecar > h1::after, #comecar > h1::before {
  content: url("../images/fa-study.svg");
  margin: 0 1em;
  width: 1em;
  height: 1em;
}
#comecar #planos {
  flex-direction: row;
  margin: 0 0 2em;
  flex-wrap: wrap;
  justify-content: center;
}
#comecar #planos .plano {
  border-radius: 1em;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 400px;
  max-width: 90vw;
  color: #04098b;
  background: #f5f5f5;
  margin: 1em;
}
#comecar #planos .plano.bkg-blue {
  color: #f5f5f5;
}
#comecar #planos .plano h1 {
  font-size: 2.5em;
}
#comecar #planos .plano ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#comecar #planos .plano ul li {
  padding: 0;
  margin: 0.5em 0;
  font-size: 1.25em;
  list-style: none;
  flex-direction: row;
}
#comecar #planos .plano ul li::before {
  content: url("../images/fa-check.svg");
  margin: 0 1em 0 0;
  width: 1em;
  height: 1em;
}
#comecar #planos .plano ul li.disabled::before {
  content: url("../images/fa-times-circle.svg");
}
#comecar #button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  font-size: 1.5em;
}
#comecar #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
}

#perguntas {
  font-size: 16pt;
  background: #f5f5f5;
  padding: 1em;
}
#perguntas h1 {
  color: #04098b;
  font-size: 2em;
  text-align: center;
}
#perguntas #lista {
  flex-direction: column;
  width: 800px;
  max-width: 100%;
  line-height: 1.5em;
}
#perguntas #lista .pergunta {
  margin: 0.5em;
  overflow: hidden;
  border-radius: 0.5em;
  border: 1px solid #f26524;
}
#perguntas #lista .pergunta .titulo {
  color: #f26524;
  cursor: pointer;
  padding: 1em;
  flex-direction: row;
  justify-content: space-between;
}
#perguntas #lista .pergunta .ck_pergunta {
  display: none;
}
#perguntas #lista .pergunta .ck_pergunta:not(:checked) ~ .conteudo {
  display: none;
}
#perguntas #lista .pergunta .conteudo {
  padding: 0 1em 1em;
}

#inscricao_email {
  min-height: 300px;
  padding: 2em;
  text-align: center;
}
#inscricao_email h1 {
  color: #f26524;
}

#rodape {
  flex-direction: row;
  height: max-content;
  min-height: max-content;
  padding: 4em 0;
  background: #3a3a3a;
  color: #f5f5f5;
  align-items: flex-start;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  #rodape {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
  }
}
#rodape .col {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em;
}
#rodape .col h1 {
  margin: 0;
}
#rodape .col a {
  color: #f5f5f5;
  margin: 0.5em 0;
}
#rodape .col#redes {
  flex-direction: row;
}
#rodape .col#redes a {
  padding: 0.5em;
  margin: 0.5em;
}

/*# sourceMappingURL=style.css.map */
