.bkg-orange {
  background: #f26524 !important;
}

.bkg-blue {
  background: #04098b !important;
}

#home {
  position: relative;
  font-size: 20pt;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-height: 800px) and (max-width: 1500px) {
  #home {
    font-size: 14pt;
  }
}
@media screen and (max-width: 800px) {
  #home {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 500px) {
  #home {
    font-size: 14pt;
  }
}
#home #bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
  background: url("../images/novo13.webp");
  background-size: cover;
}
#home #text {
  color: #f5f5f5;
  flex-direction: column;
  padding: 0;
  margin: 0 1em 0 2em;
  width: fit-content;
  margin-bottom: 1em;
  width: 40vw;
  max-width: 500px;
}
@media screen and (min-width: 1000px) {
  #home #text {
    max-width: 800px;
    margin-left: 3em;
  }
}
@media screen and (max-width: 800px) {
  #home #text {
    width: 80vw;
    margin-left: 1em;
  }
}
#home #text h1 {
  margin: 0 0 0.2em 0;
}
#home #text span {
  margin: 1em 0 2em;
}
#home #text a {
  padding: 1em 2em;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.8em;
  width: max-content;
  border-radius: 0.5em;
}
#home #smiling {
  position: absolute;
  bottom: 0;
  min-height: 100%;
  z-index: -1;
  filter: opacity(0.2);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 0;
}
#home #smiling img {
  height: 100vh;
  width: auto;
}
#home #smiling img:nth-child(2) {
  display: none;
}
@media screen and (max-width: 800px) {
  #home #smiling {
    left: 0;
  }
  #home #smiling img {
    width: auto;
    height: 100vh;
  }
  #home #smiling img:nth-child(1) {
    display: none;
  }
  #home #smiling img:nth-child(2) {
    display: flex;
  }
}

.carrossel {
  flex-direction: row;
  align-items: center;
  padding: 0 14pt;
}
.carrossel .botao {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #f26524;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.carrossel .botao.disabled {
  color: #f5f5f5;
  cursor: default;
  opacity: 0.2;
}
.carrossel .botao.proximo {
  background-image: url("../images/fa-chevron-right.svg");
}
.carrossel .botao.anterior {
  background-image: url("../images/fa-chevron-left.svg");
}

#como {
  position: relative;
}
#como #content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-align: center;
  font-size: 16pt;
}
#como #content > h1 {
  margin: 2em 2em 1em;
}
#como #content > span {
  margin: 0 0 2em;
}
#como #content #cards {
  width: 1300px;
  max-width: 100vw;
}
#como #content #cards #itens {
  flex-grow: 1;
  text-align: left;
}
#como #content #cards #itens .card {
  flex-direction: column;
  background: #f26524;
  border-radius: 1em;
  margin: 1em;
  padding: 2em;
  height: 100%;
}
#como #content #cards #itens .card h1 {
  margin: 0.5em 0 0;
}
#como #content #cards #itens .card span {
  margin: 1em 0 2em;
  flex-grow: 1;
}
#como #content #cards #itens .card img {
  width: 50px;
  fill: #f5f5f5;
}
#como #content #button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#como #content #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
}

#porque {
  background-color: #f5f5f5;
  flex-direction: column;
  font-size: 16pt;
}
#porque > h1 {
  color: #f26524;
  font-size: 2em;
  text-align: center;
  margin: 1em;
}
@media screen and (max-width: 600px) {
  #porque > h1 {
    font-size: 1.5em;
  }
}
#porque #cards {
  max-width: 100vw;
}
#porque #cards #itens {
  flex-grow: 1;
  text-align: left;
  align-items: flex-start;
  margin: 0 1em;
}
#porque #cards #itens .card {
  height: 100%;
  flex-direction: column;
  background: #04098b;
  border-radius: 0.5em;
  margin: 0.5em;
  max-width: 90vw;
  overflow: hidden;
  color: #f5f5f5;
  transition: 0.25s;
}
#porque #cards #itens .card:hover {
  transform: scale(1.05);
}
#porque #cards #itens .card h1 {
  margin: 0.5em 1em;
  font-weight: 500;
  font-size: 1.25em;
  flex-grow: 1;
}
@media screen and (max-width: 500px) {
  #porque #cards #itens .card h1 {
    font-size: 1em;
  }
}
#porque #cards #itens .card img.icon {
  width: 30px;
  margin: 0 30px 30px;
  align-self: flex-end;
}
#porque #cards #itens .card img:not(.icon) {
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3333333333);
}
#porque #button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#porque #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
  margin-bottom: 2em;
}

#paraquem {
  background-color: transparent;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 2em;
  row-gap: 3em;
  font-size: 16pt;
  padding: 0 2em;
  align-content: center;
}
#paraquem h1 {
  color: #f26524;
  font-size: 2em;
  margin: 0 0 0.5em;
}
@media screen and (max-width: 700px) {
  #paraquem {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
#paraquem #img {
  grid-row: 1/2;
  grid-column: 1/2;
}
#paraquem #img img {
  width: 500px;
  max-width: 40vw;
}
@media screen and (max-width: 700px) {
  #paraquem #img img {
    max-width: 90vw;
  }
}
@media screen and (max-width: 700px) {
  #paraquem #img {
    margin-top: 2em;
  }
}
#paraquem #text {
  grid-row: 1/2;
  grid-column: 2/3;
  flex-direction: column;
  max-width: 500px;
}
@media screen and (max-width: 700px) {
  #paraquem #text {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
#paraquem #button {
  grid-row: 2/3;
  grid-column: 1/3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  #paraquem #button {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
#paraquem #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
}

#conheca {
  background-color: #f5f5f5;
  flex-direction: column;
  padding: 4em 2em;
  min-height: fit-content;
}
#conheca h1 {
  color: #f26524;
  font-size: 2em;
  text-align: center;
  margin-top: 0;
}
#conheca iframe {
  width: 80vw;
  height: 60vh;
}

#relatos {
  min-height: fit-content;
  padding: 4em 0;
}
#relatos h1 {
  color: #f26524;
  margin: 0.5em 2em;
  text-align: center;
}
#relatos #pattern_separator {
  display: none;
  background: url("../images/pattern-azul.svg") 0 0/auto 50% repeat;
  width: 100%;
  height: 100px;
  opacity: 0.7;
  margin-bottom: 4em;
}
@media screen and (max-width: 700px) {
  #relatos #pattern_separator {
    height: 100px;
  }
}
#relatos #list {
  max-width: 100%;
  width: 800px;
}
#relatos #list #itens {
  flex-grow: 1;
  flex-direction: row;
}
#relatos #list #itens .relato {
  flex-direction: column;
  border-radius: 0.5em;
  background: #f5f5f5;
  padding: 1.5em;
  margin: 1em;
  color: #3a3a3a;
  flex-shrink: 0;
  text-align: center;
}
#relatos #list #itens .relato .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1.5em;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background: url("../images/novo16.webp") center/cover;
}
#relatos #list #itens .relato .img img {
  height: 100%;
  width: auto;
  display: none;
}
#relatos #list #itens .relato .nome {
  text-align: center;
  margin-top: 1em;
  color: #04098b;
}

#comecar {
  background: url("../images/pattern-cinza.svg") 0 0/auto 50px repeat, #f26524;
  flex-direction: column;
}
#comecar > h1 {
  color: #f5f5f5;
  font-size: 2em;
  margin: 2em 0;
  flex-direction: row;
}
#comecar > h1::after, #comecar > h1::before {
  content: "";
  background-image: url("../images/logo-azul-branco.svg");
  background-size: contain;
  margin: auto 1em;
  width: 1em;
  height: 1em;
}
#comecar #planos {
  flex-direction: row;
  margin: 0 0 2em;
  flex-wrap: wrap;
  justify-content: center;
}
#comecar #planos .plano {
  border-radius: 1em;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 400px;
  max-width: 90vw;
  color: #04098b;
  background: #f5f5f5;
  margin: 1em;
}
#comecar #planos .plano.bkg-blue {
  color: #f5f5f5;
}
#comecar #planos .plano h1 {
  font-size: 2.5em;
  text-align: center;
  height: 2em;
  flex-direction: column;
  justify-content: center;
}
#comecar #planos .plano h1 small {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
}
#comecar #planos .plano h1 small b {
  display: contents;
}
#comecar #planos .plano ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#comecar #planos .plano ul li {
  padding: 0;
  margin: 0.5em 0;
  font-size: 1.25em;
  list-style: none;
  flex-direction: row;
}
#comecar #planos .plano ul li::before {
  content: url("../images/fa-check.svg");
  margin: 0 1em 0 0;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
#comecar #planos .plano ul li.disabled::before {
  content: url("../images/fa-times-circle.svg");
}
#comecar #planos .plano:nth-child(1) #button a {
  font-size: 0.8em;
}
#comecar #planos .plano:nth-child(2) #button a {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 600px) {
  #comecar #planos .plano {
    font-size: 10pt;
  }
}
#comecar #button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-size: 1.5em;
}
#comecar #button a {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #f5f5f5;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.02);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  35% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#perguntas {
  font-size: 16pt;
  background: #f5f5f5;
  padding: 1em;
  min-height: min-content;
}
#perguntas h1 {
  color: #04098b;
  font-size: 2em;
  text-align: center;
}
#perguntas #lista {
  flex-direction: column;
  width: 800px;
  max-width: 100%;
  line-height: 1.5em;
}
#perguntas #lista .pergunta {
  margin: 0.5em;
  overflow: hidden;
  border-radius: 0.5em;
  border: 1px solid #f26524;
}
#perguntas #lista .pergunta .titulo {
  color: #f26524;
  cursor: pointer;
  padding: 1em;
  flex-direction: row;
  justify-content: space-between;
}
#perguntas #lista .pergunta .ck_pergunta {
  display: none;
}
#perguntas #lista .pergunta .ck_pergunta:not(:checked) ~ .conteudo {
  display: none;
}
#perguntas #lista .pergunta .conteudo {
  padding: 0 1em 1em;
}
#perguntas #lista .pergunta .conteudo p {
  margin: 0;
}
#perguntas #lista .pergunta .conteudo p:not(:first-child) {
  margin-top: 0.5em;
}
#perguntas #lista .pergunta .conteudo p a,
#perguntas #lista .pergunta .conteudo p b {
  text-transform: none;
  display: contents;
}

#inscricao_email {
  min-height: 300px;
  padding: 2em;
  text-align: center;
}
#inscricao_email h1 {
  color: #f26524;
}
#inscricao_email form {
  width: 100%;
  align-items: center;
  /* {
      font-size: 14px;
      line-height: 1.6;
      font-family: arial, helvetica, sans-serif;
      margin: 0;
  }
  * {
      outline: 0;
  } */
}
#inscricao_email form._form-top {
  top: 0;
}
#inscricao_email form._form-bottom {
  bottom: 0;
}
#inscricao_email form._form-left {
  left: 0;
}
#inscricao_email form._form-right {
  right: 0;
}
#inscricao_email form input[type=text],
#inscricao_email form input[type=date],
#inscricao_email form textarea {
  padding: 1em;
  border: #979797 1px solid;
  border-radius: 4px;
  color: #000 !important;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#inscricao_email form textarea {
  resize: none;
}
#inscricao_email form ._submit {
  -webkit-appearance: none;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #f26524 !important;
  border: 3px solid #030303 !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  color: #f5f5f5 !important;
  padding: 1em 2em;
  width: max-content;
  align-self: flex-end;
  margin-left: 10px;
}
@media screen and (max-width: 500px) {
  #inscricao_email form ._submit {
    margin-top: 10px;
    align-self: center;
    margin-left: 0;
  }
}
#inscricao_email form ._close-icon {
  cursor: pointer;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
  background-repeat: no-repeat;
  background-size: 14.2px 14.2px;
  position: absolute;
  display: block;
  top: 11px;
  right: 9px;
  overflow: hidden;
  width: 16.2px;
  height: 16.2px;
}
#inscricao_email form ._close-icon:before {
  position: relative;
}
#inscricao_email form ._form-body {
  margin-bottom: 30px;
}
#inscricao_email form ._form-image-left {
  width: 150px;
  float: left;
}
#inscricao_email form ._form-content-right {
  margin-left: 164px;
}
#inscricao_email form ._form-branding {
  color: #fff;
  font-size: 10px;
  clear: both;
  text-align: left;
  margin-top: 30px;
  font-weight: 100;
}
#inscricao_email form ._form-branding ._logo {
  display: block;
  width: 130px;
  height: 14px;
  margin-top: 6px;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
  background-size: 130px auto;
  background-repeat: no-repeat;
}
#inscricao_email form .form-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#inscricao_email form .form-label, #inscricao_email form ._form_element ._form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
#inscricao_email form._dark ._form-branding {
  color: #333;
}
#inscricao_email form._dark ._form-branding ._logo {
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png");
}
@media screen and (min-width: 500px) {
  #inscricao_email form ._form-content {
    flex-direction: row;
  }
}
#inscricao_email form ._form_element {
  position: relative;
  font-size: 0;
  max-width: 100%;
}
#inscricao_email form ._form_element * {
  font-size: 14px;
}
#inscricao_email form ._form_element._clear {
  clear: both;
  width: 100%;
  float: none;
}
#inscricao_email form ._form_element._clear:after {
  clear: left;
}
#inscricao_email form .form_element input[type=text],
#inscricao_email form #_form_3 .form_element input[type=date],
#inscricao_email form #_form_3 .form_element select,
#inscricao_email form #_form_3 ._form_element textarea:not(.g-recaptcha-response) {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
}
#inscricao_email form ._field-wrapper {
  position: relative;
}
#inscricao_email form ._inline-style {
  float: left;
}
#inscricao_email form ._inline-style:not(._clear) + ._inline-style:not(._clear) {
  margin-left: 20px;
}
#inscricao_email form ._form_element img._form-image {
  max-width: 100%;
}
#inscricao_email form ._form_element ._form-fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
#inscricao_email form ._clear-element {
  clear: left;
}
#inscricao_email form ._full_width {
  width: 100%;
}
#inscricao_email form ._form_full_field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#inscricao_email form input[type=text].has_error,
#inscricao_email form #_form_3 textarea._has_error {
  border: #f37c7b 1px solid;
}
#inscricao_email form input[type=checkbox]._has_error {
  outline: #f37c7b 1px solid;
}
#inscricao_email form ._error {
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 10000001;
}
#inscricao_email form ._error._above {
  padding-bottom: 4px;
  bottom: 39px;
  right: 0;
}
#inscricao_email form ._error._below {
  padding-top: 4px;
  top: 100%;
  right: 0;
}
#inscricao_email form ._error._above ._error-arrow {
  bottom: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f37c7b;
}
#inscricao_email form ._error._below ._error-arrow {
  top: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f37c7b;
}
#inscricao_email form ._error-inner {
  padding: 8px 12px;
  background-color: #f37c7b;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#inscricao_email form ._error-inner._form_error {
  margin-bottom: 5px;
  text-align: left;
}
#inscricao_email form ._button-wrapper ._error-inner._form_error {
  position: static;
}
#inscricao_email form ._error-inner._no_arrow {
  margin-bottom: 10px;
}
#inscricao_email form ._error-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
#inscricao_email form ._error-html {
  margin-bottom: 10px;
}
#inscricao_email form .pika-single {
  z-index: 10000001 !important;
}
#inscricao_email form input[type=text].datetime_date {
  width: 69%;
  display: inline;
}
#inscricao_email form select.datetime_time {
  width: 29%;
  display: inline;
  height: 32px;
}
#inscricao_email form input[type=date].datetime_date {
  width: 69%;
  display: inline-flex;
}
#inscricao_email form input[type=time].datetime_time {
  width: 29%;
  display: inline-flex;
}
@media all and (min-width: 320px) and (max-width: 667px) {
  #inscricao_email form {
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  #inscricao_email form ::-webkit-scrollbar {
    display: none;
  }
  #inscricao_email form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
  }
  #inscricao_email form ._form-content {
    margin: 0;
    width: 100%;
  }
  #inscricao_email form ._form-inner {
    display: block;
    min-width: 100%;
  }
  #inscricao_email form .form-title, #inscricao_email form ._inline-style {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  #inscricao_email form ._form-title {
    font-size: 1.2em;
  }
  #inscricao_email form ._form_element {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
  }
  #inscricao_email form .form-element,
#inscricao_email form #_form_3 .inline-style,
#inscricao_email form #_form_3 input[type=text],
#inscricao_email form label,
#inscricao_email form p,
#inscricao_email form textarea:not(.g-recaptcha-response) {
    float: none;
    display: block;
    width: 100%;
  }
  #inscricao_email form ._row._checkbox-radio label {
    display: inline;
  }
  #inscricao_email form .row,
#inscricao_email form #_form_3 p,
#inscricao_email form label {
    margin-bottom: 0.7em;
    width: 100%;
  }
  #inscricao_email form .row input[type=checkbox],
#inscricao_email form #_form_3 ._row input[type=radio] {
    margin: 0 !important;
    vertical-align: middle !important;
  }
  #inscricao_email form ._row input[type=checkbox] + span label {
    display: inline;
  }
  #inscricao_email form ._row span label {
    margin: 0 !important;
    width: initial !important;
    vertical-align: middle !important;
  }
  #inscricao_email form ._form-image {
    max-width: 100%;
    height: auto !important;
  }
  #inscricao_email form input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.3em;
    -webkit-appearance: none;
  }
  #inscricao_email form input[type=radio],
#inscricao_email form input[type=checkbox] {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: baseline;
  }
  #inscricao_email form ._inline-style {
    margin: 20px 0 0 !important;
  }
}
#inscricao_email form.inline-form,
#inscricao_email form #_form_3.inline-form ._form-content,
#inscricao_email form #_form_3.inline-form input,
#inscricao_email form #_form_3._inline-form ._submit {
  font-family: "IBM Plex Sans", Helvetica, sans-serif, "IBM Plex Sans", arial, sans-serif;
}
#inscricao_email form ._form-title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 0;
}
#inscricao_email form #form_3:before,
#inscricao_email form #form_3:after {
  content: " ";
  display: table;
}
#inscricao_email form #form_3:after {
  clear: both;
}
#inscricao_email form._inline-style {
  width: auto;
  display: inline-block;
}
#inscricao_email form.inline-style input[type=text],
#inscricao_email form #_form_3._inline-style input[type=date] {
  padding: 10px 12px;
}
#inscricao_email form._inline-style button._inline-style {
  position: relative;
  top: 27px;
}
#inscricao_email form._inline-style p {
  margin: 0;
}
#inscricao_email form._inline-style ._button-wrapper {
  position: relative;
  margin: 27px 12.5px 0 20px;
}
#inscricao_email form ._form-thank-you {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}
@media all and (min-width: 320px) and (max-width: 667px) {
  #inscricao_email form._inline-form._inline-style ._inline-style._button-wrapper {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
