.bkg-orange {
  background: #30734b !important;
}

.bkg-blue {
  background: #82542d !important;
}

#home {
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding: 2em;
  font-size: 32px;
}
#home #content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80vw;
  max-width: 900px;
}
#home #title {
  font-size: 1.8em;
}
#home #title * {
  display: inline;
}
#home #title span {
  background: url(../images/handwrite_circle.svg);
  background-position: center;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  margin: -10px;
  z-index: -1;
  text-wrap: nowrap;
}
#home #description {
  display: block;
  margin-top: 1em;
}
#home #description span {
  display: inline;
  text-wrap: nowrap;
  background: url(../images/handwrite_line.svg) no-repeat center;
  background-size: contain;
  padding-bottom: 2em;
  margin-bottom: -2em;
  color: #4A3AFF;
}
@media screen and (max-width: 800px) {
  #home {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  #home {
    font-size: 16px;
  }
}
#home #continue_explorando {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 3em;
}
#home #continue_explorando img {
  height: 30px;
  margin-top: 1em;
}
@media screen and (min-width: 600px) {
  #home #continue_explorando {
    display: none;
  }
}

#assista {
  position: relative;
  background-color: #4A3AFF;
  color: #fff;
  min-height: 30vh;
  flex-direction: row;
  padding: 5vw 10vw;
}
@media screen and (max-width: 800px) {
  #assista {
    padding: 5vw;
  }
}
@media screen and (max-width: 600px) {
  #assista {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  #assista h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    margin: 1em 0;
    margin-top: -10px;
    background: url(../images/handwrite_right_arrow.svg) no-repeat center;
    background-position: bottom right;
    background-size: auto 35px;
  }
}
#assista ol {
  list-style: decimal;
}
@media screen and (max-width: 600px) {
  #assista ol {
    padding-left: 0;
  }
}
#assista ol li {
  counter-increment: my-awesome-counter;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
}
@media screen and (max-width: 600px) {
  #assista ol li {
    flex-direction: column;
  }
}
#assista ol li::before {
  display: block;
  font-size: 2em;
  content: counter(my-awesome-counter);
  margin-right: 0.25em;
}

#video {
  min-height: 50vh;
  padding: 10vw;
}
#video iframe {
  width: 80vw;
  aspect-ratio: 16/9;
}
#video button {
  margin-top: 1em;
  background: #FF7A00;
  color: #fff;
  border: none;
  border-radius: 1em;
  width: 80vw;
  padding: 1em 3em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
#video button span {
  margin: auto;
  max-width: 400px;
}
@media screen and (max-width: 600px) {
  #video button {
    font-size: 12px;
  }
  #video button span {
    max-width: 200px;
  }
}

#relatos #content {
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}
#relatos #content img {
  margin: 0.5em;
  width: calc(100% - 1em);
  max-width: 350px;
}
@media screen and (max-width: 600px) {
  #relatos #content {
    grid-template-columns: minmax(200px, 1fr);
  }
}

#possivel {
  margin: 0 auto;
  width: 80vw;
  min-height: min-content;
  display: grid;
  grid-template-areas: "hr1 hr1" "title title" "text1 text2" "hr2 hr2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
}
@media screen and (max-width: 600px) {
  #possivel {
    grid-template-columns: 1fr;
    grid-template-areas: "hr1" "title" "text1" "text2" "hr2";
  }
}
#possivel hr:first-of-type {
  grid-area: hr1;
}
#possivel hr:last-of-type {
  grid-area: hr2;
}
#possivel h1 {
  grid-area: title;
  text-align: center;
}
#possivel div {
  display: block;
}
#possivel div:nth-of-type(1) {
  grid-area: text1;
  font-weight: 600;
  font-size: 1.2em;
  padding-right: 2em;
}
#possivel div:nth-of-type(1) i {
  display: inline;
  color: #4A3AFF;
  font-style: normal;
}
@media screen and (max-width: 600px) {
  #possivel div:nth-of-type(1) {
    text-align: center;
  }
}
#possivel div:nth-of-type(1)::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  background: url(../images/handwrite_curve_right_arrow.svg) no-repeat center;
}
@media screen and (min-width: 600px) {
  #possivel div:nth-of-type(1)::after {
    background-size: auto 80px;
    background-position: bottom right;
    top: 60px;
    right: -30px;
    height: 80px;
    margin: -80px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  #possivel div:nth-of-type(1)::after {
    height: 100px;
    background-size: contain;
    background-position: center;
    position: relative;
    transform: rotate(90deg);
    width: 80px;
    margin: auto;
  }
}
#possivel div:nth-of-type(2) {
  grid-area: text2;
  background-color: #4A3AFF;
  border-radius: 1em;
  color: #fff;
  padding: 2em;
  font-size: 0.8em;
}

#conheca {
  text-align: center;
  max-width: 80vw;
  margin: 0 auto 4em;
  min-height: fit-content;
}

#imagem {
  background: #0f0e27;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
#imagem img {
  width: 100vw;
  margin: auto;
  display: block;
  max-width: 450px;
}
@media screen and (max-width: 799px) {
  #imagem img#desktop {
    display: none;
  }
  #imagem img#mobile {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  #imagem img {
    max-height: 80vh;
    width: auto;
    max-width: 100vw;
  }
  #imagem img#desktop {
    display: block;
  }
  #imagem img#mobile {
    display: none;
  }
}

#facil {
  min-height: fit-content;
  width: 70vw;
  margin: 2em auto;
  text-align: center;
}
#facil h1 {
  display: block;
}
#facil h1 i {
  display: inline;
  color: #4A3AFF;
  font-style: normal;
}

#passos {
  padding: 0 10vw;
  min-height: fit-content;
}
#passos .passo {
  display: grid;
  grid-template-areas: "h1 h2" "h1 span" "h1 button";
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #passos .passo {
    grid-template-areas: "h1" "h2" "span" "button";
    grid-template-columns: 1fr;
    border-left: 5px solid;
    padding: 1em 0 1em 1em;
    text-align: center;
  }
}
#passos .passo:nth-of-type(1) {
  border-color: #D9D9D9;
}
#passos .passo:nth-of-type(1) h1 {
  border-color: #D9D9D9;
}
#passos .passo:nth-of-type(2) {
  border-color: #4A3AFF;
}
#passos .passo:nth-of-type(2) h1 {
  border-color: #4A3AFF;
}
#passos .passo:nth-of-type(3) {
  border-color: #FF7A00;
}
#passos .passo:nth-of-type(3) h1 {
  border-color: #FF7A00;
}
#passos .passo h1 {
  grid-area: h1;
  min-width: 150px;
}
@media screen and (min-width: 600px) {
  #passos .passo h1 {
    margin: 0 1em 0 0;
    padding-right: 1em;
    border-right: 5px solid;
  }
}
#passos .passo h2 {
  grid-area: h2;
  font-size: 1.2em;
  font-weight: 600;
}
#passos .passo span {
  grid-area: span;
}
#passos .passo button {
  grid-area: button;
  background: none;
  color: #000;
  border: 1px solid #FF7A00;
  border-radius: 1em;
  padding: 1em 3em;
  text-align: center;
  font-weight: 600;
}
@media screen and (min-width: 600px) {
  #passos .passo button {
    margin-left: 80px;
  }
  #passos .passo button::before {
    content: "";
    display: block;
    position: relative;
    width: 60px;
    background: url(../images/handwrite_amazon_arrow.svg) no-repeat center;
    height: 40px;
    margin-bottom: -40px;
    background-size: contain;
    margin-left: -120px;
    top: -12px;
  }
}

#botao_assista {
  padding: 4em 10vw 2em;
  min-height: fit-content;
}
#botao_assista a {
  background: #4A3AFF;
  color: white;
  padding: 1em 3em;
  border-radius: 1em;
  text-transform: none;
  font-size: 1.4em;
  text-align: center;
  max-width: 800px;
}
@media screen and (max-width: 600px) {
  #botao_assista a {
    font-size: 0.8em;
  }
}

hr {
  display: block;
  width: 80vw;
  height: 8px;
  background: url(../images/handwrite_hr.svg) repeat-x center;
  margin: 2em auto;
  background-size: contain;
  border: none;
}

#comparativo {
  flex-direction: row;
  min-height: fit-content;
  text-align: center;
  width: 80vw;
  margin: auto;
  font-size: 1.5em;
}
@media screen and (min-width: 601px) {
  #comparativo {
    margin: 2em auto;
  }
}
@media screen and (max-width: 600px) {
  #comparativo {
    flex-direction: column;
    font-size: 1em;
  }
}
#comparativo > div {
  flex-grow: 1;
  width: 100%;
  border-radius: 1em;
  font-weight: 600;
  color: #07215B;
}
#comparativo > div#numem {
  background: #07215B;
  color: #FF7A00;
}
#comparativo > div#outros {
  background: #eee;
  margin-right: 1em;
}
@media screen and (max-width: 600px) {
  #comparativo > div#outros {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
#comparativo > div#outros ul li {
  border-bottom-color: #07215B;
}
#comparativo > div #title {
  height: 3em;
  justify-content: center;
  font-size: 1.5em;
}
#comparativo > div #seta {
  content: "";
  display: block;
  height: 30px;
}
#comparativo > div ul {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
#comparativo > div ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid #D9D9D9;
}
#comparativo > div ul li:last-of-type {
  border-bottom: none;
}
#comparativo > div ul li span {
  flex-grow: 1;
  flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map */
