span.orange {
  color: #FF7A00 !important;
  display: inline;
}

span.blue {
  color: #07215B !important;
  display: inline;
}

#initial_logo {
  width: 100%;
  height: 100px;
  background-color: #4A3AFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: fit-content;
}
#initial_logo img {
  height: 40px;
}
@media screen and (max-width: 800px) {
  #initial_logo {
    height: 80px;
  }
  #initial_logo img {
    height: 30px;
  }
}

#home {
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding: 2em;
  min-height: calc(80vh - 100px);
  font-size: 32px;
}
#home #content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80vw;
  max-width: 900px;
}
#home #title {
  font-size: 1.8em;
}
#home #title * {
  display: inline;
}
#home #title span {
  background: url(../images/handwrite_circle.svg);
  background-position: center;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  margin: -10px;
  z-index: -1;
  text-wrap: nowrap;
}
#home #description {
  display: block;
  margin-top: 1em;
}
#home #description span {
  display: inline;
  text-wrap: nowrap;
  background: url(../images/handwrite_line.svg) no-repeat center;
  background-size: contain;
  padding-bottom: 2em;
  margin-bottom: -2em;
  color: #4A3AFF;
}
@media screen and (max-width: 800px) {
  #home {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  #home {
    font-size: 16px;
  }
}
#home #continue_explorando {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 3em;
}
#home #continue_explorando img {
  height: 30px;
  margin-top: 1em;
}
@media screen and (min-width: 600px) {
  #home #continue_explorando {
    display: none;
  }
}

#assista {
  position: relative;
  background-color: #4A3AFF;
  color: #fff;
  min-height: 30vh;
  flex-direction: row;
  padding: 5vw 10vw;
}
@media screen and (max-width: 800px) {
  #assista {
    padding: 5vw;
  }
}
@media screen and (max-width: 600px) {
  #assista {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  #assista h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    margin: 1em 0;
    margin-top: -10px;
    background: url(../images/handwrite_right_arrow.svg) no-repeat center;
    background-position: bottom right;
    background-size: auto 35px;
  }
}
#assista ol {
  list-style: decimal;
}
@media screen and (max-width: 600px) {
  #assista ol {
    padding-left: 0;
  }
}
#assista ol li {
  counter-increment: my-awesome-counter;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
}
@media screen and (max-width: 600px) {
  #assista ol li {
    flex-direction: column;
  }
}
#assista ol li::before {
  display: block;
  font-size: 2em;
  content: counter(my-awesome-counter);
  margin-right: 0.25em;
}

#video {
  min-height: 50vh;
  padding: 10vw;
}
#video iframe {
  width: 80vw;
  aspect-ratio: 16/9;
}
#video button {
  margin-top: 1em;
  background: #FF7A00;
  color: #fff;
  border: none;
  border-radius: 1em;
  width: 80vw;
  padding: 1em 3em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
#video button span {
  margin: auto;
  max-width: 400px;
}
@media screen and (max-width: 600px) {
  #video button {
    font-size: 12px;
  }
  #video button span {
    max-width: 200px;
  }
}

#relatos #content {
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}
#relatos #content img {
  margin: 0.5em;
  width: calc(100% - 1em);
  max-width: 350px;
}
@media screen and (max-width: 600px) {
  #relatos #content {
    grid-template-columns: minmax(200px, 1fr);
  }
}

#possivel {
  margin: 0 auto;
  width: 80vw;
  min-height: min-content;
  display: grid;
  grid-template-areas: "hr1 hr1" "title title" "text1 text2" "hr2 hr2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
}
@media screen and (max-width: 600px) {
  #possivel {
    grid-template-columns: 1fr;
    grid-template-areas: "hr1" "title" "text1" "text2" "hr2";
  }
}
#possivel hr:first-of-type {
  grid-area: hr1;
}
#possivel hr:last-of-type {
  grid-area: hr2;
}
#possivel h1 {
  grid-area: title;
  text-align: center;
}
#possivel div {
  display: block;
}
#possivel div:nth-of-type(1) {
  grid-area: text1;
  font-weight: 600;
  font-size: 1.2em;
  padding-right: 2em;
}
#possivel div:nth-of-type(1) i {
  display: inline;
  color: #4A3AFF;
  font-style: normal;
}
@media screen and (max-width: 600px) {
  #possivel div:nth-of-type(1) {
    text-align: center;
    padding-right: 0;
  }
}
#possivel div:nth-of-type(1)::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  background: url(../images/handwrite_curve_right_arrow.svg) no-repeat center;
}
@media screen and (min-width: 600px) {
  #possivel div:nth-of-type(1)::after {
    background-size: auto 80px;
    background-position: bottom right;
    top: 60px;
    right: -30px;
    height: 80px;
    margin: -80px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  #possivel div:nth-of-type(1)::after {
    height: 100px;
    background-size: contain;
    background-position: center;
    position: relative;
    transform: rotate(90deg);
    width: 80px;
    margin: auto;
  }
}
#possivel div:nth-of-type(2) {
  grid-area: text2;
  background-color: #4A3AFF;
  border-radius: 1em;
  color: #fff;
  padding: 2em;
  font-size: 0.8em;
}

#conheca {
  text-align: center;
  max-width: 80vw;
  margin: 0 auto 4em;
  min-height: fit-content;
}

#imagem {
  background: #0f0e27;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
#imagem img {
  width: 100vw;
  margin: auto;
  display: block;
}
@media screen and (max-width: 799px) {
  #imagem img#desktop {
    display: none;
  }
  #imagem img#mobile {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  #imagem img#desktop {
    display: block;
  }
  #imagem img#mobile {
    display: none;
  }
}

#facil {
  min-height: fit-content;
  width: 70vw;
  margin: 2em auto;
  text-align: center;
}
#facil h1 {
  display: block;
}
#facil h1 i {
  display: inline;
  color: #4A3AFF;
  font-style: normal;
}

#passos {
  padding: 0 10vw;
  min-height: fit-content;
}
#passos .passo {
  display: grid;
  grid-template-areas: "h1 h2" "h1 span" "h1 button";
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #passos .passo {
    grid-template-areas: "h1" "h2" "span" "button";
    grid-template-columns: 1fr;
    border-left: 5px solid;
    padding: 1em 0 1em 1em;
    text-align: center;
  }
}
#passos .passo:nth-of-type(1) {
  border-color: #D9D9D9;
}
#passos .passo:nth-of-type(1) h1 {
  border-color: #D9D9D9;
}
#passos .passo:nth-of-type(2) {
  border-color: #4A3AFF;
}
#passos .passo:nth-of-type(2) h1 {
  border-color: #4A3AFF;
}
#passos .passo:nth-of-type(3) {
  border-color: #FF7A00;
}
#passos .passo:nth-of-type(3) h1 {
  border-color: #FF7A00;
}
#passos .passo h1 {
  grid-area: h1;
  min-width: 150px;
}
@media screen and (min-width: 600px) {
  #passos .passo h1 {
    margin: 0 1em 0 0;
    padding-right: 1em;
    border-right: 5px solid;
  }
}
#passos .passo h2 {
  grid-area: h2;
  font-size: 1.2em;
  font-weight: 600;
}
#passos .passo span {
  grid-area: span;
}
#passos .passo button {
  grid-area: button;
  background: none;
  color: #000;
  border: 1px solid #FF7A00;
  border-radius: 1em;
  padding: 1em 3em;
  text-align: center;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  #passos .passo button {
    flex-direction: column;
    text-align: left;
    padding: 1em 1.5em;
  }
}
@media screen and (min-width: 600px) {
  #passos .passo button {
    flex-direction: row;
    place-items: center;
    margin-left: 80px;
  }
  #passos .passo button::before {
    content: "";
    display: block;
    position: relative;
    width: 60px;
    background: url(../images/handwrite_amazon_arrow.svg) no-repeat center;
    height: 40px;
    margin-bottom: -40px;
    background-size: contain;
    margin-left: -120px;
    top: -12px;
  }
}
#passos .passo button h1 {
  border-right: none;
  margin: 0;
  padding-right: 0;
}
@media screen and (min-width: 600px) {
  #passos .passo button h1 {
    margin-left: 2em;
  }
}
#passos .passo button span {
  margin: auto 0 auto 40px;
  margin-top: 1.5em;
}
@media screen and (min-width: 600px) {
  #passos .passo button span {
    margin-top: 2em;
    margin-left: 60px;
  }
}
#passos .passo button span::before {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  background: url(../images/handwrite_amazon_arrow.svg) no-repeat center;
  height: 20px;
  margin-bottom: -40px;
  background-size: contain;
  margin-left: -40px;
  top: -20px;
}

#botao_assista {
  padding: 4em 10vw 2em;
  min-height: fit-content;
}
#botao_assista a {
  background: #4A3AFF;
  color: white;
  padding: 1em 3em;
  border-radius: 1em;
  text-transform: none;
  font-size: 1.4em;
  text-align: center;
  max-width: 800px;
}
@media screen and (max-width: 600px) {
  #botao_assista a {
    font-size: 0.8em;
  }
}

hr {
  display: block;
  width: 80vw;
  height: 8px;
  background: url(../images/handwrite_hr.svg) repeat-x center;
  margin: 2em auto;
  background-size: contain;
  border: none;
}

#comparativo #cards {
  min-height: fit-content;
  flex-direction: row;
  text-align: center;
  width: 80vw;
  margin: auto;
  font-size: 1.5em;
}
@media screen and (min-width: 601px) {
  #comparativo #cards {
    margin: 2em auto;
  }
}
@media screen and (max-width: 600px) {
  #comparativo #cards {
    flex-direction: column;
    font-size: 1em;
    margin-bottom: 2em;
  }
}
#comparativo #cards > div {
  flex-grow: 1;
  width: 100%;
  border-radius: 0.5em;
  font-weight: 600;
  color: #000;
  border: 1px solid black;
}
#comparativo #cards > div#numem #logo {
  height: 1em;
}
#comparativo #cards > div#outros {
  margin-right: 1em;
}
@media screen and (max-width: 600px) {
  #comparativo #cards > div#outros {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
#comparativo #cards > div#outros ul li {
  border-bottom-color: #07215B;
}
#comparativo #cards > div #title {
  height: 3em;
  justify-content: center;
  font-size: 1.5em;
  border-bottom: 1px solid #000;
  flex-direction: row;
  place-items: center;
}
#comparativo #cards > div #title img#icon {
  margin-left: 0.75em;
  width: 1.5em;
}
@media screen and (max-width: 600px) {
  #comparativo #cards > div #title img#icon {
    width: 1em;
  }
}
#comparativo #cards > div #seta {
  content: "";
  display: block;
  height: 30px;
}
#comparativo #cards > div ul {
  padding: 0;
  margin: auto auto;
  width: 80%;
}
#comparativo #cards > div ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
#comparativo #cards > div ul li:last-of-type {
  border-bottom: none;
}
#comparativo #cards > div ul li span {
  flex-grow: 1;
  flex-basis: 50%;
}

#comofunciona {
  border: 1px solid #000;
  border-radius: 1em;
  margin: 2em auto;
  padding: 2em;
  padding-bottom: 3em;
  width: 80vw;
  text-align: center;
}
#comofunciona h1 {
  display: block;
  margin: 0 0 1em 0;
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  #comofunciona h1 {
    font-size: 1.5em;
  }
}
#comofunciona ul {
  margin: 0;
  padding: 0;
  width: 550px;
  max-width: 100%;
}
#comofunciona ul li {
  display: block;
}
#comofunciona ul li p {
  margin: 0;
}
#comofunciona ul li p:not(:last-of-type) {
  margin-bottom: 1em;
}
#comofunciona ul li:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  background: url(../images/handwrite_curve_down_arrow.svg) no-repeat center;
  background-size: auto 25px;
}
#comofunciona span.blue {
  font-weight: bold;
}

#comece {
  margin: 0 auto;
  padding: 2em 10vw;
  min-height: min-content;
  display: grid;
  grid-template-areas: "titulo preco" "imagem vantagens";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  background: #4A3AFF;
  color: #fff;
}
@media screen and (max-width: 600px) {
  #comece {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "preco" "vantagens";
  }
}
#comece div#titulo {
  grid-area: titulo;
  font-weight: 600;
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  #comece div#titulo {
    font-size: 1.25em;
  }
}
#comece div#preco {
  font-weight: 600;
  grid-area: preco;
  font-size: 2em;
  border-bottom: 1px solid #fff;
  padding: 1em;
}
@media screen and (max-width: 600px) {
  #comece div#preco {
    font-size: 1.25em;
    border-bottom: none;
    padding-top: 2em;
  }
}
#comece div#dispositivos {
  grid-area: imagem;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
#comece div#dispositivos img {
  width: 100%;
  max-width: 600px;
  margin: -10% 0;
  margin-right: -20%;
}
@media screen and (max-width: 600px) {
  #comece div#dispositivos {
    display: none;
  }
}
#comece div#vantagens {
  grid-area: vantagens;
  font-weight: 300;
}
#comece div#vantagens ul {
  margin: 1.5em;
  padding: 0;
}
#comece div#vantagens ul li {
  margin: 0.5em;
}

#cursos {
  margin: 0 auto;
  padding: 2em 10vw;
  min-height: min-content;
}
#cursos h1 {
  text-align: center;
}
#cursos .curso {
  display: grid;
  grid-template-areas: "img h1" "img span";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 0 1em;
  margin: 0.5em;
}
@media screen and (max-width: 600px) {
  #cursos .curso {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "img" "h1" "span";
  }
}
#cursos .curso h1 {
  grid-area: h1;
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  #cursos .curso h1 {
    text-align: left;
  }
}
#cursos .curso span {
  grid-area: span;
}
#cursos .curso img {
  grid-area: img;
  max-width: 80vw;
  width: 400px;
}

#bonus {
  gap: 2em;
  margin: 2em auto;
  min-height: fit-content;
}
@media screen and (min-width: 601px) {
  #bonus {
    flex-direction: row;
  }
}
#bonus #titulo {
  font-size: 5em;
  line-height: 1em;
}
#bonus #titulo span {
  margin: -0.35em 0;
}
#bonus #titulo span:last-of-type {
  margin-left: 0.5em;
}
#bonus #conteudo p {
  margin: 0.5em 0;
}
@media screen and (max-width: 600px) {
  #bonus #conteudo p {
    text-align: center;
    align-items: center;
  }
}
#bonus #conteudo .crossed {
  background: url(../images/red_cross.svg) no-repeat center;
  background-size: contain;
  width: fit-content;
}

#autor {
  margin: 3em auto;
  width: 80vw;
}
@media screen and (max-width: 600px) {
  #autor {
    text-align: center;
  }
}
#autor #first_part {
  column-gap: 2em;
  display: grid;
  grid-template-areas: "h1 img" "p img";
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, min-content);
  margin-bottom: 0.5em;
}
@media screen and (max-width: 600px) {
  #autor #first_part {
    grid-template-areas: "h1" "p" "img";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}
#autor #first_part h1 {
  grid-area: h1;
  font-size: 2em;
  font-weight: 600;
  margin: 0.5em 0;
}
#autor #first_part p {
  grid-area: p;
  margin: 0;
}
#autor #first_part p span.orange {
  font-weight: 600;
  display: inline;
}
#autor #first_part div#img {
  grid-area: img;
  background: url(../images/yuri1.png) no-repeat center;
  background-size: cover;
  border-radius: 1em;
}
@media screen and (max-width: 600px) {
  #autor #first_part div#img {
    width: 100%;
    aspect-ratio: 9/16;
    margin: 1em 0;
  }
}
#autor #tag {
  text-transform: uppercase;
  align-self: flex-start;
}
@media screen and (max-width: 600px) {
  #autor #tag {
    align-self: center;
  }
}
#autor p {
  display: block;
  margin: 0.5em 0;
}
#autor #img_grid {
  gap: 1em;
  margin: 1em;
  display: grid;
  grid-template-areas: "img1 img1" "img2 img3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  width: 100%;
  max-width: 600px;
}
@media screen and (max-width: 600px) {
  #autor #img_grid {
    grid-template-areas: "img1" "img2" "img3";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}
#autor #img_grid div {
  background: white no-repeat center;
  background-size: cover;
  border-radius: 1em;
  width: 100%;
}
#autor #img_grid div#img1 {
  aspect-ratio: 16/9;
  grid-area: img1;
  background-image: url(../images/yuri2.png);
}
@media screen and (max-width: 600px) {
  #autor #img_grid div#img1 {
    aspect-ratio: 1/1;
  }
}
#autor #img_grid div#img2 {
  grid-area: img2;
  background-image: url(../images/yuri3.png);
  aspect-ratio: 10/16;
}
@media screen and (max-width: 600px) {
  #autor #img_grid div#img2 {
    aspect-ratio: 16/9;
  }
}
#autor #img_grid div#img3 {
  aspect-ratio: 10/16;
  grid-area: img3;
  background-image: url(../images/yuri4.png);
}
@media screen and (max-width: 600px) {
  #autor #img_grid div#img3 {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 600px) {
  #faq {
    text-align: center;
  }
}
#faq h1 {
  text-transform: uppercase;
  margin: 1.5em;
}
#faq ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
#faq ul li {
  margin: 0;
  padding: 2em 0;
  width: 100%;
}
#faq ul li:nth-child(odd) {
  background: #d9d9d9;
}
#faq ul li .content {
  max-width: 600px;
  width: 80vw;
  margin: 0 auto;
}
#faq ul li .content h2 {
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 1em;
}
#faq ul li .content p {
  margin: 0;
  display: block;
}
#faq ul li .content p:not(:last-of-type) {
  margin-bottom: 1em;
}
#faq ul li .content p a {
  display: inline;
  text-transform: none;
  color: inherit;
  text-decoration: underline;
}

#colocarempratica {
  min-height: fit-content;
  margin: 4em auto;
}

.cta-group {
  width: 100vw;
}
.cta-group button {
  margin: 1em auto 0;
  background: #FF7A00;
  color: #fff;
  border: none;
  border-radius: 1em;
  width: 80vw;
  padding: 1em 3em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
.cta-group button span {
  margin: auto;
  max-width: 400px;
}
@media screen and (max-width: 600px) {
  .cta-group button {
    font-size: 12px;
  }
  .cta-group button span {
    max-width: 200px;
  }
}
.cta-group #imgs {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  margin: 2em 10vw 0;
}
.cta-group #imgs img {
  height: 25px;
  margin: 1em;
}
.cta-group #destaques {
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  margin: 1em 10vw 0;
  align-items: self-end;
}
@media screen and (max-width: 600px) {
  .cta-group #destaques {
    align-items: center;
    flex-direction: column;
  }
}
.cta-group #destaques div {
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .cta-group #destaques div {
    margin: 0.5em;
  }
}
.cta-group #destaques div img {
  height: 50px;
  margin: 0.5em;
}

/*# sourceMappingURL=style.css.map */
