@import './colors.scss';

.bkg-orange {
    background: $green  !important;
}

.bkg-blue {
    background: $brown  !important;
}

#home {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    padding: 2em;
    #content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        // border: 1px solid red;
        width: 80vw;
        max-width: 900px;
    }

    #title {
        font-size: 1.8em;
        * {
            display: inline;
        }
        span {
            background: url(../images/handwrite_circle.svg);
            background-position: center;
            background-clip: padding-box;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 10px;
            margin: -10px;
            z-index: -1;
            text-wrap: nowrap;
        }
    }

    #description {
        display: block;
        margin-top: 1em;
        span {
            display: inline;
            text-wrap: nowrap;
            background: url(../images/handwrite_line.svg) no-repeat center;
            background-size: contain;
            padding-bottom: 2em;
            margin-bottom: -2em;
            color: $purple;
        }
    }
    font-size: 32px;
    @media screen and (max-width: 800px) {
        font-size: 24px;
    }

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

#assista {
    position: relative;
    background-color: $purple;
    color: $white;
    min-height: 30vh;
    flex-direction: row;
    padding: 5vw 10vw;

    @media screen and (max-width: 800px) {
        padding: 5vw;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        @media screen and (min-width: 600px) {
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 50px;
                margin: 1em 0;
                margin-top: -10px;
                background: url(../images/handwrite_right_arrow.svg) no-repeat center;
                background-position: bottom right;
                background-size: auto 35px;
            }
        }
    }

    ol {
        list-style: decimal;
        @media screen and (max-width: 600px) {
            padding-left: 0;
        }
        li {
            counter-increment: my-awesome-counter;
            flex-direction: row;
            align-items: center;
            margin: .5em;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            &::before {
                display: block;
                font-size: 2em;
                content: counter(my-awesome-counter);
                margin-right: .25em;
            }
        }
    }
}

#video {
    min-height: 50vh;
    padding: 10vw;

    iframe {
        width: 80vw;
        aspect-ratio: 16/9;
    }

    button {
        margin-top: 1em;
        background: $orange;
        color: $white;
        border: none;
        border-radius: 1em;
        width: 80vw;
        padding: 1em 3em;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        span {
            margin: auto;
            max-width: 400px;
        }
        @media screen and (max-width: 600px) {
            span {
                max-width: 200px;
            }
            font-size: 12px;
        }
    }
}

#relatos {
    #content {
        flex-direction: row;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        img {
            margin: .5em;
            width: calc(100% - 1em);
            max-width: 350px;
        }
        
        @media screen and (max-width: 600px) {
            grid-template-columns: minmax(200px, 1fr);
        }
    }
}

#possivel {
    margin: 0 auto;
    width: 80vw;
    min-height: min-content;
    display: grid;
    grid-template-areas:
        "hr1 hr1"
        "title title"
        "text1 text2"
        "hr2 hr2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "hr1"
            "title"
            "text1"
            "text2"
            "hr2";
    }
    .hr {
        width: 100%;
        height: 8px;
        background: url(../images/handwrite_hr.svg) repeat-x center;
        margin: 2em 0;
        background-size: contain;
        &:first-of-type {
            grid-area: hr1;
        }
        &:last-of-type {
            grid-area: hr2;
        }
    }
    h1 {
        grid-area: title;
        text-align: center;
    }
    div {
        display: block;
        &:nth-of-type(2) {
            grid-area: text1;
            font-weight: 600;
            font-size: 1.2em;
            padding-right: 2em;
            i {
                display: inline;
                color: $purple;
                font-style: normal;
            }
        
            @media screen and (max-width: 600px) {
                text-align: center;
            }
            &::after {
                content: "";
                display: block;
                position: relative;
                width: 100%;
                background: url(../images/handwrite_curve_right_arrow.svg) no-repeat center;
                @media screen and (min-width: 600px) {
                    background-size: auto 80px;
                    background-position: bottom right;
                    top: 60px;
                    right: -30px;
                    height: 80px;
                    margin: -80px 0 0 0;
                }
                @media screen and (max-width: 600px) {
                    height: 100px;
                    background-size: contain;
                    background-position: center;
                    position: relative;
                    transform: rotate(90deg);
                    width: 80px;
                    margin: auto;
                }
            }
        }
        &:nth-of-type(3) {
            grid-area: text2;
            background-color: $purple;
            border-radius: 1em;
            color: $white;
            padding: 2em;
            font-size: .8em;
        }
    }
}

#conheca {
    text-align: center;
    max-width: 80vw;
    margin: 0 auto 4em;
    min-height: fit-content;
}

#imagem {
    background: #0f0e27;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    img {
        width: 100vw;
        margin: auto;
        display: block;
        max-width: 450px;
        @media screen and (max-width: 799px) {
            &#desktop {
                display: none;
            }
            &#mobile {
                display: block;
            }
        }
        @media screen and (min-width: 800px) {
            max-height: 80vh;
            width: auto;
            max-width: 100vw;
            &#desktop {
                display: block;
            }
            &#mobile {
                display: none;
            }
        }
    }
}

#facil {
    min-height: fit-content;
    width: 70vw;
    margin: 2em auto;
    text-align: center;
    h1 {
        display: block;
        i {
            display: inline;
            color: $purple;
            font-style: normal;
        }
    }
}

#passos {
    padding: 0 10vw;
    min-height: fit-content;
    margin-bottom: 2em;
    .passo {
        display: grid;
        grid-template-areas:
            "h1 h2"
            "h1 span"
            "h1 button";
        grid-template-columns: 1fr 3fr;
        // grid-template-rows: min-content min-content min-content min-content;
        @media screen and (max-width: 600px) {
            grid-template-areas:
                "h1"
                "h2"
                "span"
                "button";
            grid-template-columns: 1fr;
            border-left: 5px solid;
            padding: 1em 0 1em 1em;
            text-align: center;
        }
        &:nth-of-type(1) {
            border-color: #D9D9D9;
            h1 {
                border-color: #D9D9D9;
            }
        }
        &:nth-of-type(2) {
            border-color: #4A3AFF;
            h1 {
                border-color: #4A3AFF;
            }
        }
        &:nth-of-type(3) {
            border-color: #FF7A00;
            h1 {
                border-color: #FF7A00;
            }
        }
        h1 {
            grid-area: h1;
            min-width: 150px;
            @media screen and (min-width: 600px) {
                margin: 0 1em 0 0;
                padding-right: 1em;
                border-right: 5px solid;
            }
        }
        h2 {
            grid-area: h2;
            font-size: 1.2em;
            font-weight: 600;
        }
        span {
            grid-area: span;
        }
        button {
            grid-area: button;
            background: none;
            color: $black;
            border: 1px solid $orange;
            border-radius: 1em;
            padding: 1em 3em;
            text-align: center;
            font-weight: 600;
            @media screen and (min-width: 600px) {
                margin-left: 80px;
                &::before {
                    content: "";
                    display: block;
                    position: relative;
                    width: 60px;
                    background: url(../images/handwrite_amazon_arrow.svg) no-repeat center;
                    height: 40px;
                    margin-bottom: -40px;
                    background-size: contain;
                    margin-left: -120px;
                    top: -12px;
                }
            }
        }
    }
}
