@import './colors.scss';

.bkg-orange {
    background: $green  !important;
}

.bkg-blue {
    background: $brown  !important;
}

#home {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    #content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        // border: 1px solid red;
        width: 80vw;
        max-width: 900px;
    }

    #title {
        font-size: 1.8em;
        * {
            display: inline;
        }
        span {
            background: url(../images/handwrite_circle.svg);
            background-position: center;
            background-clip: padding-box;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 10px;
            margin: -10px;
            z-index: -1;
            text-wrap: nowrap;
        }
    }

    #description {
        display: block;
        margin-top: 1em;
        span {
            display: inline;
            text-wrap: nowrap;
            background: url(../images/handwrite_line.svg) no-repeat center;
            background-size: contain;
            padding-bottom: 2em;
            margin-bottom: -2em;
            color: $purple;
        }
    }
    font-size: 32px;
    @media screen and (max-width: 800px) {
        font-size: 24px;
    }

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

#assista {
    position: relative;
    background-color: $purple;
    color: $white;
    min-height: 30vh;
    flex-direction: row;
    padding: 5vw 10vw;

    @media screen and (max-width: 800px) {
        padding: 5vw;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        @media screen and (min-width: 600px) {
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 50px;
                margin: 1em 0;
                margin-top: -10px;
                background: url(../images/handwrite_right_arrow.svg) no-repeat center;
                background-position: bottom right;
                background-size: auto 35px;
            }
        }
    }

    ol {
        list-style: decimal;
        @media screen and (max-width: 600px) {
            padding-left: 0;
        }
        li {
            counter-increment: my-awesome-counter;
            flex-direction: row;
            align-items: center;
            margin: .5em;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            &::before {
                display: block;
                font-size: 2em;
                content: counter(my-awesome-counter);
                margin-right: .25em;
            }
        }
    }
}

#video {
    min-height: 50vh;
    padding: 10vw;

    iframe {
        width: 80vw;
        aspect-ratio: 16/9;
    }

    button {
        margin-top: 1em;
        background: $orange;
        color: $white;
        border: none;
        border-radius: 1em;
        width: 80vw;
        padding: 1em 3em;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        span {
            margin: auto;
            max-width: 400px;
        }
        @media screen and (max-width: 600px) {
            span {
                max-width: 200px;
            }
            font-size: 12px;
        }
    }
}

#professor {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 2em;
    row-gap: 3em;
    font-size: 16pt;
    padding: 0 2em;
    align-content: center;

    h1 {
        color: $brown;
        font-size: 2em;
        margin: 0 0 .5em;
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #img {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        img {
            width: 500px;
            max-width: 40vw;

            @media screen and (max-width: 700px) {
                max-width: 90vw;
            }
        }

        @media screen and (max-width: 700px) {
            margin-top: 2em;
        }
    }

    #text {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        @media screen and (max-width: 700px) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        flex-direction: column;
        max-width: 500px;
    }
}

#programa {
    font-size: 16pt;
    background: $brown;
    padding: 1em;
    min-height: min-content;

    h1 {
        color: white;
        font-size: 2em;
        text-align: center;
    }

    #lista {
        flex-direction: column;
        width: 800px;
        max-width: 100%;
        line-height: 1.5em;

        .pergunta {
            margin: .5em;
            overflow: hidden;
            border-radius: .5em;
            border: 1px solid white;

            .titulo {
                color: white;
                cursor: pointer;
                padding: 1em;
                flex-direction: row;
                justify-content: space-between;
            }

            .ck_pergunta {
                display: none;
            }

            .ck_pergunta:not(:checked)~.conteudo {
                display: none;
            }

            .conteudo {
                padding: 0 1em 1em;
                color: white;

                ul {
                    margin: 0 0 0 1em;
                    padding: 0;
                    li {
                        display: list-item;
                        list-style: disc;
                    }
                }

                p {
                    margin: 0;

                    &:not(:first-child) {
                        margin-top: .5em;
                    }

                    a,
                    b {
                        text-transform: none;
                        display: contents;
                    }
                }
            }
        }
    }
}

#relatos {
    display: none;
    min-height: fit-content;
    padding: 4em 0;
    h1 {
        color: $green;
        margin: .5em 2em;
        text-align: center;
    }

    #pattern_separator {
        display: none;
        background: url("../images/pattern-azul.svg") 0 0 / auto 50% repeat;
        width: 100%;
        height: 100px;
        opacity: .7;
        margin-bottom: 4em;

        @media screen and (max-width: 700px) {
            height: 100px;
        }
    }

    #list {
        max-width: 100%;
        width: 800px;
        #itens {
            flex-grow: 1;
            flex-direction: row;

            .relato {
                flex-direction: column;
                border-radius: .5em;
                background: $cinza_claro;
                padding: 1.5em;
                margin: 1em;
                color: $cinza_escuro;
                flex-shrink: 0;
                text-align: center;

                .img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 auto 1.5em;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: nowrap;
                    background: url('../images/novo16.webp') center/cover;

                    img {
                        height: 100%;
                        width: auto;
                        display: none;
                    }
                }

                .nome {
                    text-align: center;
                    margin-top: 1em;
                    color: $brown;
                }
            }
        }
    }
}

#comecar {
    background: url("../images/pattern-cinza.svg") 0 0 / auto 50px repeat, $green;
    flex-direction: column;

    &>h1 {
        color: $cinza_claro;
        font-size: 2em;
        margin: 2em 0;
        flex-direction: row;
    }

    #planos {
        flex-direction: row;
        margin: 0 0 2em;
        flex-wrap: wrap;
        justify-content: center;

        .plano {
            border-radius: 1em;
            flex-direction: column;
            align-items: center;
            padding: 2em;
            width: 400px;
            max-width: 90vw;
            color: $brown;
            background: $cinza_claro;
            margin: 1em;

            &.bkg-blue {
                color: $cinza_claro;
            }

            h1 {
                font-size: 2.5em;
                text-align: center;
                height: 2em;
                flex-direction: column;
                justify-content: center;

                small {
                    font-size: .5em;
                    line-height: 1em;
                    font-weight: normal;
                    b {
                        display: contents;
                    }
                }
            }

            ul {
                flex-direction: column;
                margin: 0;
                padding: 0;

                li {
                    padding: 0;
                    margin: .5em 0;
                    font-size: 1.25em;
                    list-style: none;
                    flex-direction: row;

                    &::before {
                        content: url('../images/fa-check.svg');
                        margin: 0 1em 0 0;
                        width: 1em;
                        height: 1em;
                        flex-shrink: 0;
                    }

                    &.disabled {
                        &::before {
                            content: url('../images/fa-times-circle.svg');
                        }
                    }
                }
            }

            &:nth-child(1) {
                #button a {
                    font-size: .8em;
                }
            }

            &:nth-child(2) {
                #button a {
                    animation-name: pulse;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
            }

            @media screen and (max-width: 600px) {
                font-size: 10pt;
            }
        }
    }

    #button {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        font-size: 1.5em;

        a {
            padding: 1em 2em;
            border-radius: .5em;
            color: $cinza_claro;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.02);
    }

    25% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.02);
    }

    35% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

#perguntas {
    font-size: 16pt;
    background: $cinza_claro;
    padding: 1em;
    min-height: min-content;

    h1 {
        color: $brown;
        font-size: 2em;
        text-align: center;
    }

    #lista {
        flex-direction: column;
        width: 800px;
        max-width: 100%;
        line-height: 1.5em;

        .pergunta {
            margin: .5em;
            overflow: hidden;
            border-radius: .5em;
            border: 1px solid $green;

            .titulo {
                color: $green;
                cursor: pointer;
                padding: 1em;
                flex-direction: row;
                justify-content: space-between;
            }

            .ck_pergunta {
                display: none;
            }

            .ck_pergunta:not(:checked)~.conteudo {
                display: none;
            }

            .conteudo {
                padding: 0 1em 1em;

                p {
                    margin: 0;

                    &:not(:first-child) {
                        margin-top: .5em;
                    }

                    a,
                    b {
                        text-transform: none;
                        display: contents;
                    }
                }
            }
        }
    }
}
